a.overlay(href="#")
div.container
  div.detail-info
    h1= id
    h2= name
    h3
      span.city= city
      span.state= stateShort
      span.country= country
    div.description!= description
    a.close-detail(href="#") Close
    a.random(href="#") Random Airport
  div.photo-credit
    | photo by 
    a(href=imageCreditLink)= imageCredit
  a.back(href="#") Airport Codes
